body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    color: #707070;
}

a {
    color: #046dc3;
    text-decoration: none;
}

a:hover {
    color: #046dc3;
    text-decoration: underline;
}

a:focus {
    color: #046dc3;
    text-decoration: none;
    outline: none;
    outline-offset: 0;
}

/* Remove list bullets */
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Left align ordered list */
ol {
    padding: 0;
    margin: 0 0 0 1em;
}

div.titlebar {
    background-color: #eee;
    border-radius: 5px;
    padding: 8px 0 8px 5px;
    font-weight: bold;
}

div.titlebar + ul
{
    margin-left: 0.3em;
}

p.caption {
    font-size: 0.9em;
    font-style: italic;
    color: grey;
    margin-right: 10%;
    margin-left: 10%;
    text-align: justify;
}

/* Image padding */
.screenshot {
    padding: 10px;
}

.hideContent
{
    display: none;
}
